@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
#one{
    text-transform: uppercase;
}
#two{
    text-transform: capitalize;
}
#three{
    text-transform: lowercase;
}


#one{
    text-decoration: overline;

}
#two{
    text-decoration: underline;
}
#three{
    text-decoration:line-through;
}
#one{
    font-family: "Kablammo", system-ui;;
}